/* Common CSS Start */

.flex {
  display: flex !important;
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 6px;
}

/* Common CSS Start */

.App {
  display: flex;
  gap: 10px;
  min-height: 100vh;
}

/* Side-Bar Start */

.sidebarWrap {
  width: 25%;
}

.wrapper {
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px solid #80808048;
}

.navHeader img {
  padding-bottom: 20px;
}

.navHeader .linkWrapper a, .wrapper .navFooter a {
  display: block;
  padding: 10px 0;
  padding-top: 0;
}

.navHeader .linkWrapper a:first-child, .wrapper .navFooter a:first-child {
  padding: 10px 0;
}

.navHeader .linkWrapper a:last-child, .wrapper .navFooter a:last-child {
  padding-bottom: 0;
}

.navFooter {
  border-top: 1px solid #80808048;
}

/* Side-Bar Start */

/* Content Start */

.contentWrap {
  width: 75%;
  padding: 40px 20px;
}

/* Content Start */

/* Components Start */

/* Nav-Bar Start */

.searchInputWrapper {
  background: #e7e7e7;
  padding: 10px 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 20px;
}

.navbarWrapper {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #80808048;
}

.searchInput {
  border: none;
  outline: none;
  background: transparent;
}

.searchIcon {
  /* position: absolute; */
  color: #3d3232;
}

.iconsWrapper, .iconList {
  display: flex;
  gap: 14px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.profileIcon {
  border-left: 1px solid #80808048;
  padding-left: 14px;
}

/* Nav-Bar End */

/* Components End */